{% extends "tethys_apps/app_base.html" %}

{% load staticfiles %}

{% block title %}{{ tethys_app.name }}{% endblock %}

{% block app_icon %}
  {# The path you provided in your app.py is accessible through the tethys_app.icon context variable #}
  <img src="{% static tethys_app.icon %}">
{% endblock %}

{# The name you provided in your app.py is accessible through the tethys_app.name context variable #}
{% block app_title %}{{ tethys_app.name }}{% endblock %}

{% block app_navigation_items %}

{% url 'hydrologic_data_viewer_colombia:home' as home %}
{% url 'hydrologic_data_viewer_colombia:hobs' as hobs %}
{% url 'hydrologic_data_viewer_colombia:hsen' as hsen %}
{% url 'hydrologic_data_viewer_colombia:qobs' as qobs %}
{% url 'hydrologic_data_viewer_colombia:qsen' as qsen %}
{% url 'hydrologic_data_viewer_colombia:about' as about %}

  <li class="title"></li>
  <li class="{% if request.path == home %}active{% endif %}"><a href="{% url 'hydrologic_data_viewer_colombia:home' %}">Home</a></li>
  <li class="separator"></li>
  <li class="{% if request.path == hobs %}active{% endif %}"><a href="{% url 'hydrologic_data_viewer_colombia:hobs' %}">Observed Water Level</a></li>
  <li class="{% if request.path == hsen %}active{% endif %}"><a href="{% url 'hydrologic_data_viewer_colombia:hsen' %}">Sensor Water Level</a></li>
  <li class="{% if request.path == qobs %}active{% endif %}"><a href="{% url 'hydrologic_data_viewer_colombia:qobs' %}">Observed Discharge</a></li>
  <li class="{% if request.path == qsen %}active{% endif %}"><a href="{% url 'hydrologic_data_viewer_colombia:qsen' %}">Sensor Discharge</a></li>
  <li class="{% if request.path == about %}active{% endif %}"><a href="{% url 'hydrologic_data_viewer_colombia:about' %}">About</a></li>

{% endblock %}

{% block app_content %}
{% endblock %}

{% block app_actions %}
{% endblock %}